.git
.gitignore

**/node_modules
**/npm-debug.log
**/yarn-error.log

**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
**/.venv
**/venv
**/env

**/.env
**/.env.example

**/docs
**/*.pdf
**/*.xlsx
**/*.csv
Proyecto_Final_SW_AGM.pdf

**/postman
**/.postman

**/.DS_Store
**/Thumbs.db