DB_URL=postgres://user:password@localhost:5432/notifications_db
GRPC_PORT=50056
INTERNAL_SECRET=your_super_secret_key_here

SMTP_HOST=localhost
SMTP_PORT=25
SMTP_USER=
SMTP_PASS=
MAIL_FROM="AGM Sistema <noreply@agm.buap.mx>"