PORT=50056
MAIL_FROM="AGM Sistema <noreply@agm.buap.mx>"
FRONTEND_URL=http://localhost:4200
#para desarrollo local
SMTP_HOST=localhost
SMTP_PORT=25
DATABASE_URL=
RABBITMQ_URL=amqp://guest:guest@localhost:5672
MS_MATERIAS_URL=localhost:50052
MS_ALUMNOS_URL=localhost:50053
